<img src="./img/banner.png">

# Laboratorio 3 - AlpesGamesInsight

1. Carga y exploración de datos.

    1.1. Importación de librerias.
    
    1.2. Carga de datos.
    
    1.3. Exploración.
    
2. Limpieza y preparación de los datos.

    2.1. Tipo adecuado de cada atributo.
    
    2.2. Selección de atributos.
    
3. Clasificadores.

## 1. Carga y exploración de datos.

### 1.1. Importación de librerias.

In [138]:
# Librerías para manejo de datos
import pandas as pd
import numpy as np

# modelos

#Librerías para la visualización
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()

import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

### 1.2. Carga de datos.

In [139]:
# carga de los datos
# csv -> dataFrame
df_players = pd.read_csv('./data/SkillCraftHistoric.csv', sep=',', encoding = 'utf-8' )

### 1.3. Exploración.

In [140]:
#cantidad de datos y numero de variables
df_players.shape

(3238, 19)

In [141]:
# mostrar 5 filas al azar
df_players.sample(5)

,LeagueIndex,Age,HoursPerWeek,TotalHours,APM,SelectByHotkeys,AssignToHotkeys,UniqueHotkeys,MinimapAttacks,MinimapRightClicks,NumberOfPACs,GapBetweenPACs,ActionLatency,ActionsInPAC,TotalMapExplored,WorkersMade,UniqueUnitsMade,ComplexUnitsMade,ComplexAbilitiesUsed
1108,4.981284,16,28,500,102.8232,0.0038156918,0.0003506311,6,0.0,0.0007218876,0.002929,32.3121,62.507,5.3380,17,0.002372,6,0.0,0.0002475
645,7.319409,20,14,1000,96.897,0.0023232658,0.0005096961,3,0.0002252145,0.0004385757,0.004386,23.1545,54.0865,3.7027,26,0.000782,6,0.0,0.00055711
762,6.926428,29,28,900,99.1128,0.0013613968,0.0002160947,3,0.0001080474,0.0005402368,0.003198,27.2653,51.4865,5.3919,15,0.001253,4,0.0,6.4828e-05
1038,8.233072,26,8,300,120.1956,0.0017121163,0.0003659959,6,0.0001240664,0.0002729461,0.005837,30.6936,43.3539,3.5569,30,0.000614,6,0.0,0.0
2506,6.485713,20,48,2000,91.3914,0.0005017912,0.0001143322,4,1.27035747859448e-05,0.0002286643,0.003900,41.5269,52.7687,4.3355,40,0.000743,8,0.0,2.5407e-05

In [142]:
# ver todos los tipos de variables 
df_players.dtypes

LeagueIndex             float64
Age                      object
HoursPerWeek             object
TotalHours               object
APM                      object
SelectByHotkeys          object
AssignToHotkeys          object
UniqueHotkeys            object
MinimapAttacks           object
MinimapRightClicks       object
NumberOfPACs            float64
GapBetweenPACs           object
ActionLatency            object
ActionsInPAC            float64
TotalMapExplored         object
WorkersMade             float64
UniqueUnitsMade          object
ComplexUnitsMade         object
ComplexAbilitiesUsed     object
dtype: object

In [143]:
#cantidad de datos nulos
df_players.isnull().sum()

LeagueIndex             0
Age                     0
HoursPerWeek            0
TotalHours              0
APM                     0
SelectByHotkeys         0
AssignToHotkeys         0
UniqueHotkeys           0
MinimapAttacks          0
MinimapRightClicks      0
NumberOfPACs            0
GapBetweenPACs          0
ActionLatency           0
ActionsInPAC            0
TotalMapExplored        0
WorkersMade             0
UniqueUnitsMade         0
ComplexUnitsMade        0
ComplexAbilitiesUsed    0
dtype: int64

No hay datos nulos.

## 2. Limpieza y preparación de los datos.

### 2.1. Tipo adecuado de cada atributo.

Al limpiar la columna **Age**, encontramos que tiene el valor *NA-VALUE*, entonces lo cambiaremos por la moda de la columna

In [144]:
df_players.Age = df_players.Age.replace({'NA-VALUE':0})
df_players['Age'] = df_players.Age.astype(int)

In [145]:
modEdad = df_players['Age'].mode()[0]
df_players.Age = df_players.Age.replace({0:modEdad})
df_players['Age'].describe()

count    3238.000000
mean       21.664299
std         4.234262
min        16.000000
25%        19.000000
50%        21.000000
75%        24.000000
max        44.000000
Name: Age, dtype: float64

Ahora para la columna *HoursPerWeek*  encontramos que tiene el valor NA-VALUE, entonces lo cambiaremos por la media de la columna

In [146]:
# identificamos el index de la fila con el caracter erroneo
indexRaro = df_players[df_players['HoursPerWeek'].str.contains('NA-VALUE')].index[0]

# remplazamos el valor por 0
df_players.HoursPerWeek = df_players.HoursPerWeek.replace({'NA-VALUE':0})

df_players['HoursPerWeek'] = df_players.HoursPerWeek.astype(int) #convertimos la columna en entero

In [147]:
HoursPerWeek_media = int(df_players['HoursPerWeek'].mean())
df_players.loc[indexRaro,'HoursPerWeek'] = HoursPerWeek_media 
df_players['HoursPerWeek'].describe()

count    3238.000000
mean       15.977455
std        12.069915
min         0.000000
25%         8.000000
50%        12.000000
75%        20.000000
max       168.000000
Name: HoursPerWeek, dtype: float64

Ahora para la columna de **TotalHours** encontramos el mismo  valor de NA-VALUE, entonces lo cambiaremos por la media de la columna

In [148]:
# identificamos el index de la fila con el caracter erroneo
indexRaro = df_players[df_players['TotalHours'].str.contains('NA-VALUE')].index[0]

# remplazamos el valor por 0
df_players.TotalHours = df_players.TotalHours.replace({'NA-VALUE':0})

df_players['TotalHours'] = df_players.TotalHours.astype(int) #convertimos la columna en entero

TotalHours_media = int(df_players['TotalHours'].mean())# media de la columna

df_players.loc[indexRaro,'TotalHours'] = TotalHours_media 
df_players['TotalHours'].describe()

count       3238.000000
mean         974.513280
std        17583.288892
min            3.000000
25%          300.000000
50%          500.000000
75%          800.000000
max      1000000.000000
Name: TotalHours, dtype: float64

Ahora para la columna de **APM** encontramos el mismo valor de NA-VALUE, entonces lo cambiaremos por la media de la columna

In [149]:
# identificamos el index de la fila con el caracter erroneo
indexRaro = df_players[df_players['APM'].str.contains('NA-VALUE')].index[0]

# remplazamos el valor por 0
df_players.APM = df_players.APM.replace({'NA-VALUE':0})

df_players['APM'] = df_players.APM.astype(float) #convertimos la columna en float

APM_media = int(df_players['APM'].mean())# media de la columna

df_players.loc[indexRaro,'APM'] = APM_media 
df_players['APM'].describe()

count    3238.000000
mean      115.330075
std        48.386654
min        22.059600
25%        80.014950
50%       108.006300
75%       141.627300
max       389.831400
Name: APM, dtype: float64

Ahora para la columna de **SelectByHotkeys** encontramos el mismo valor de NA-VALUE, dado el valor que maneja la columna *timestamp*, consideramos que el remplazo adecuado para estos valores es 0 pues debido a que es la moda de los datos y tambien un valor neutral.

In [150]:
df_players['SelectByHotkeys'].value_counts()[0:4] #podemos inferir la moda de la columna

0.0             15
NA-VALUE         2
0.0027815285     2
0.0031194655     2
Name: SelectByHotkeys, dtype: int64

In [151]:
# remplazamos el valor por 0
df_players.SelectByHotkeys = df_players.SelectByHotkeys.replace({'NA-VALUE':0})
df_players['SelectByHotkeys'] = df_players.SelectByHotkeys.astype(float) #convertimos la columna en float
df_players['SelectByHotkeys'].describe()

count    3238.000000
mean        0.004071
std         0.004758
min         0.000000
25%         0.001256
50%         0.002480
75%         0.004984
max         0.043088
Name: SelectByHotkeys, dtype: float64

Ahora para la columna de **AssignToHotkeys** encontramos el mismo valor de NA-VALUE, entonces lo cambiaremos por 0 igual que la columna anterior, debido a la moda y su valor neutral.

In [152]:
# remplazamos el valor por 0
df_players.AssignToHotkeys = df_players.AssignToHotkeys.replace({'NA-VALUE':0})
df_players['AssignToHotkeys'] = df_players.AssignToHotkeys.astype(float) #convertimos la columna en float
df_players['AssignToHotkeys'].describe()

count    3238.000000
mean        0.000367
std         0.000211
min         0.000000
25%         0.000204
50%         0.000351
75%         0.000495
max         0.001648
Name: AssignToHotkeys, dtype: float64

La columna de **UniqueHotkeys** encontramos el mismo valor de NA-VALUE, entonces lo cambiaremos por la moda de la columna

In [153]:
# identificamos el index de la fila con el caracter erroneo
indexRaro = df_players[df_players['UniqueHotkeys'].str.contains('NA-VALUE')].index[0]

# remplazamos el valor por 0
df_players.UniqueHotkeys = df_players.UniqueHotkeys.replace({'NA-VALUE':0})

df_players['UniqueHotkeys'] = df_players.UniqueHotkeys.astype(float) #convertimos la columna en float

UniqueHotkeys_moda = int(df_players['UniqueHotkeys'].mode()[0])# moda de la columna

df_players.loc[indexRaro,'UniqueHotkeys'] = UniqueHotkeys_moda 
df_players['UniqueHotkeys'].describe()

count    3238.000000
mean        4.342804
std         2.342835
min         0.000000
25%         3.000000
50%         4.000000
75%         6.000000
max        10.000000
Name: UniqueHotkeys, dtype: float64

La columna de **MinimapAttacks** encontramos el mismo valor de NA-VALUE, entonces lo cambiaremos por la moda de la columna.

In [154]:
df_players['MinimapAttacks'].value_counts()[0:4] #podemos inferir la moda de la columna

0.0                     842
1.33226751931788e-05      3
0.0001019695              2
6.88847558035407e-05      2
Name: MinimapAttacks, dtype: int64

In [155]:
moda_MinimapAttacks = df_players['MinimapAttacks'].value_counts()[0]
df_players.MinimapAttacks = df_players.MinimapAttacks.replace({'NA-VALUE':moda_MinimapAttacks})

df_players['MinimapAttacks'] = df_players.MinimapAttacks.astype(float) #convertimos la columna en float

df_players['MinimapAttacks'].describe()

count    3238.000000
mean        0.260132
std        14.796998
min         0.000000
25%         0.000000
50%         0.000040
75%         0.000117
max       842.000000
Name: MinimapAttacks, dtype: float64

La columna de **MinimapRightClicks** encontramos el mismo valor de NA-VALUE, entonces lo cambiaremos por la moda de la columna.

In [157]:
df_players['MinimapRightClicks'].value_counts()[0:4] #podemos inferir la moda de la columna

0.0                     69
7.33783387144115e-05     2
0.0002332452             2
9.62031811185223e-05     2
Name: MinimapRightClicks, dtype: int64

In [158]:
moda_MinimapRightClicks = df_players['MinimapRightClicks'].value_counts()[0]
df_players.MinimapRightClicks = df_players.MinimapRightClicks.replace({'NA-VALUE':moda_MinimapRightClicks})

df_players['MinimapRightClicks'] = df_players.MinimapRightClicks.astype(float) #convertimos la columna en float

df_players['MinimapRightClicks'].describe()

count    3238.000000
mean        0.043004
std         1.714574
min         0.000000
25%         0.000141
50%         0.000282
75%         0.000513
max        69.000000
Name: MinimapRightClicks, dtype: float64

La columna de **GapBetweenPACs** encontramos el mismo valor de NA-VALUE, entonces lo cambiaremos por la media de la columna.

In [173]:
df_players[df_players['GapBetweenPACs'].str.contains('NA-VALUE')] #filas con el valor erroneo

,LeagueIndex,Age,HoursPerWeek,TotalHours,APM,SelectByHotkeys,AssignToHotkeys,UniqueHotkeys,MinimapAttacks,MinimapRightClicks,NumberOfPACs,GapBetweenPACs,ActionLatency,ActionsInPAC,TotalMapExplored,WorkersMade,UniqueUnitsMade,ComplexUnitsMade,ComplexAbilitiesUsed
60,3.808326,24,10,200,87.1620,0.000399,0.000066,1.0,0.000387,0.000875,0.002635,NA-VALUE,60.0168,6.1975,21,0.001118,7,0.0,3.3212e-05
2666,6.483196,16,42,900,137.5206,0.008748,0.000715,5.0,0.000110,0.000092,0.003943,NA-VALUE,58.1767,4.3395,12,0.000935,3,0.0,0.0

In [174]:
# indexs con el valor rar
index1, index2  =df_players[df_players['GapBetweenPACs'].str.contains('NA-VALUE')].index[0] , df_players[df_players['GapBetweenPACs'].str.contains('NA-VALUE')].index[1]

# remplazamos el valor por 0
df_players.GapBetweenPACs = df_players.GapBetweenPACs.replace({'NA-VALUE':0})

df_players['GapBetweenPACs'] = df_players.GapBetweenPACs.astype(float) #convertimos la columna en float

GapBetweenPACs_media = int(df_players['GapBetweenPACs'].mean())# media de la columna


df_players.loc[index1,'GapBetweenPACs'] = GapBetweenPACs_media 
df_players.loc[index2,'GapBetweenPACs'] = GapBetweenPACs_media 

df_players['GapBetweenPACs'].describe()

count    3238.000000
mean       40.634149
std        17.139080
min         6.666700
25%        29.216025
50%        36.986950
75%        48.444400
max       237.142900
Name: GapBetweenPACs, dtype: float64

La columna de **ActionLatency** encontramos el mismo valor de NA-VALUE, entonces lo cambiaremos por la media de la columna.

In [177]:
# identificamos el index de la fila con el caracter erroneo
indexRaro = df_players[df_players['ActionLatency'].str.contains('NA-VALUE')].index[0]

# remplazamos el valor por 0
df_players.ActionLatency = df_players.ActionLatency.replace({'NA-VALUE':0})

df_players['ActionLatency'] = df_players.ActionLatency.astype(float) #convertimos la columna en float

ActionLatency_media = int(df_players['ActionLatency'].mean())# media de la columna

df_players.loc[indexRaro,'ActionLatency'] = ActionLatency_media 
df_players['ActionLatency'].describe()

count    3238.000000
mean       64.052135
std        19.122442
min        24.632600
25%        50.629750
50%        61.124800
75%        73.800825
max       176.372100
Name: ActionLatency, dtype: float64

La columna de **TotalMapExplored** encontramos el mismo valor de NA-VALUE, entonces lo cambiaremos por la media de la columna.

In [180]:
# indexs con el valor rar
index1, index2  =df_players[df_players['TotalMapExplored'].str.contains('NA-VALUE')].index[0] , df_players[df_players['TotalMapExplored'].str.contains('NA-VALUE')].index[1]

# remplazamos el valor por 0
df_players.TotalMapExplored = df_players.TotalMapExplored.replace({'NA-VALUE':0})

df_players['TotalMapExplored'] = df_players.TotalMapExplored.astype(float) #convertimos la columna en float

TotalMapExplored_media = int(df_players['TotalMapExplored'].mean())# media de la columna


df_players.loc[index1,'TotalMapExplored'] = TotalMapExplored_media 
df_players.loc[index2,'TotalMapExplored'] = TotalMapExplored_media 

df_players['TotalMapExplored'].describe()

count    3238.000000
mean       22.218653
std         7.462960
min         5.000000
25%        17.000000
50%        22.000000
75%        27.000000
max        58.000000
Name: TotalMapExplored, dtype: float64

La columna de **UniqueUnitsMade** encontramos el mismo valor de NA-VALUE, entonces lo cambiaremos por la moda de la columna.

In [183]:
df_players['UniqueUnitsMade'].value_counts()[0:4] #podemos inferir la moda de la columna

6    727
7    688
5    470
8    431
Name: UniqueUnitsMade, dtype: int64

In [184]:
moda_UniqueUnitsMade = df_players['UniqueUnitsMade'].value_counts()[0]
df_players.UniqueUnitsMade = df_players.UniqueUnitsMade.replace({'NA-VALUE':moda_UniqueUnitsMade})

df_players['UniqueUnitsMade'] = df_players.UniqueUnitsMade.astype(float) #convertimos la columna en float

df_players['UniqueUnitsMade'].describe()

count    3238.000000
mean        7.008956
std        17.998668
min         2.000000
25%         5.000000
50%         6.000000
75%         8.000000
max       727.000000
Name: UniqueUnitsMade, dtype: float64

La columna de **ComplexUnitsMade** encontramos el mismo valor de NA-VALUE, entonces lo cambiaremos por la moda de la columna.

In [187]:
df_players['ComplexUnitsMade'].value_counts()[0:4] #podemos inferir la moda de la columna

0.0                     2153
4.48028673835125e-05       2
0.0002571415               2
0.0003315807               2
Name: ComplexUnitsMade, dtype: int64

In [188]:
moda_ComplexUnitsMade = df_players['ComplexUnitsMade'].value_counts()[0]
df_players.ComplexUnitsMade = df_players.ComplexUnitsMade.replace({'NA-VALUE':moda_ComplexUnitsMade})

df_players['ComplexUnitsMade'] = df_players.ComplexUnitsMade.astype(float) #convertimos la columna en float

df_players['ComplexUnitsMade'].describe()

count    3238.000000
mean        0.664978
std        37.836033
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000090
max      2153.000000
Name: ComplexUnitsMade, dtype: float64

La columna de **ComplexAbilitiesUsed** encontramos el mismo valor de NA-VALUE, entonces lo cambiaremos por la moda de la columna.

In [190]:
df_players['ComplexAbilitiesUsed'].value_counts()[0:4] #podemos inferir la moda de la columna

0.0           1467
NA-VALUE         3
0.00014976       2
0.00017608       2
Name: ComplexAbilitiesUsed, dtype: int64

In [191]:
moda_ComplexAbilitiesUsed = df_players['ComplexAbilitiesUsed'].value_counts()[0]
df_players.ComplexAbilitiesUsed = df_players.ComplexAbilitiesUsed.replace({'NA-VALUE':moda_ComplexAbilitiesUsed})

df_players['ComplexAbilitiesUsed'] = df_players.ComplexAbilitiesUsed.astype(float) #convertimos la columna en float

df_players['ComplexAbilitiesUsed'].describe()

count    3238.000000
mean        1.359317
std        44.639371
min         0.000000
25%         0.000000
50%         0.000022
75%         0.000187
max      1467.000000
Name: ComplexAbilitiesUsed, dtype: float64

En la columna de **LeagueIndex** los valores deberian estar entre 0 y 10. consideramos que los valores mayores de 10 deben tener un tope maximo de 10.

In [200]:
df_players.LeagueIndex = df_players.LeagueIndex.replace({20:10})

In [203]:
df_players['LeagueIndex'].value_counts()

10.000000    96
8.660033      1
6.399890      1
5.438155      1
2.738713      1
             ..
5.062099      1
5.194530      1
2.197375      1
5.881296      1
5.351187      1
Name: LeagueIndex, Length: 3143, dtype: int64

Resumen de los datos

In [204]:
df_players.describe()

,LeagueIndex,Age,HoursPerWeek,TotalHours,APM,SelectByHotkeys,AssignToHotkeys,UniqueHotkeys,MinimapAttacks,MinimapRightClicks,NumberOfPACs,GapBetweenPACs,ActionLatency,ActionsInPAC,TotalMapExplored,WorkersMade,UniqueUnitsMade,ComplexUnitsMade,ComplexAbilitiesUsed
count,3238.000000,3238.000000,3238.000000,3238.000000,3238.000000,3238.000000,3238.000000,3238.000000,3238.000000,3238.000000,3238.000000,3238.000000,3238.000000,3238.000000,3238.000000,3238.000000,3238.000000,3238.000000,3238.000000
mean,5.573372,21.664299,15.977455,974.513280,115.330075,0.004071,0.000367,4.342804,0.260132,0.043004,0.003443,40.634149,64.052135,5.277123,22.218653,0.001037,7.008956,0.664978,1.359317
std,2.058039,4.234262,12.069915,17583.288892,48.386654,0.004758,0.000211,2.342835,14.796998,1.714574,0.000971,17.139080,19.122442,1.507255,7.462960,0.000525,17.998668,37.836033,44.639371
min,0.000000,16.000000,0.000000,3.000000,22.059600,0.000000,0.000000,0.000000,0.000000,0.000000,0.000679,6.666700,24.632600,2.038900,5.000000,0.000077,2.000000,0.000000,0.000000
25%,4.123874,19.000000,8.000000,300.000000,80.014950,0.001256,0.000204,3.000000,0.000000,0.000141,0.002751,29.216025,50.629750,4.264100,17.000000,0.000685,5.000000,0.000000,0.000000
50%,5.680387,21.000000,12.000000,500.000000,108.006300,0.002480,0.000351,4.000000,0.000040,0.000282,0.003386,36.986950,61.124800,5.093550,22.000000,0.000910,6.000000,0.000000,0.000022
75%,7.082546,24.000000,20.000000,800.000000,141.627300,0.004984,0.000495,6.000000,0.000117,0.000513,0.004017,48.444400,73.800825,6.035900,27.000000,0.001268,8.000000,0.000090,0.000187
max,10.000000,44.000000,168.000000,1000000.000000,389.831400,0.043088,0.001648,10.000000,842.000000,69.000000,0.007971,237.142900,176.372100,18.558100,58.000000,0.005149,727.000000,2153.000000,1467.000000

In [205]:
#tipos finales de los datos
df_players.dtypes

LeagueIndex             float64
Age                       int64
HoursPerWeek              int64
TotalHours                int64
APM                     float64
SelectByHotkeys         float64
AssignToHotkeys         float64
UniqueHotkeys           float64
MinimapAttacks          float64
MinimapRightClicks      float64
NumberOfPACs            float64
GapBetweenPACs          float64
ActionLatency           float64
ActionsInPAC            float64
TotalMapExplored        float64
WorkersMade             float64
UniqueUnitsMade         float64
ComplexUnitsMade        float64
ComplexAbilitiesUsed    float64
dtype: object

### 2.2. Selección de atributos.